MyFantalega/Client/Connected Services/ServerLegaAdmin/GestioneAdminController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="creaMercato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lega" type="tns:Lega" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Lega">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomeLega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SquadraAdmin" type="tns:Squadra" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroSquadreTotali" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditiInizialiSquadra" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroDif" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroCen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroAtt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MercatoAttivo" type="tns:Mercato" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaSvincolati" type="tns:ListaSvincolati" />
          <s:element minOccurs="0" maxOccurs="1" name="Squadre" type="tns:ArrayOfSquadra" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Squadra">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditResidui" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroDif" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroCen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroAtt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Giocatori" type="tns:ArrayOfGiocatore" />
          <s:element minOccurs="0" maxOccurs="1" name="Lega" type="tns:Lega" />
          <s:element minOccurs="0" maxOccurs="1" name="Utente" type="tns:Utente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGiocatore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Giocatore" nillable="true" type="tns:Giocatore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Giocatore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeSquadra" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrezzoAcquisto" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Utente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mercato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lega" type="tns:Lega" />
          <s:element minOccurs="0" maxOccurs="1" name="Aste" type="tns:ArrayOfAsta" />
          <s:element minOccurs="0" maxOccurs="1" name="Squadre" type="tns:ArrayOfSquadra" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAsta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asta" nillable="true" type="tns:Asta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAsta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimaOfferta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UltimoOfferente" type="tns:Squadra" />
          <s:element minOccurs="0" maxOccurs="1" name="Squadre" type="tns:ArrayOfSquadra" />
          <s:element minOccurs="0" maxOccurs="1" name="Giocatore" type="tns:Giocatore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSquadra">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Squadra" nillable="true" type="tns:Squadra" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaSvincolati">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataCaricamento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdLista" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Giocatori" type="tns:ArrayOfGiocatore" />
        </s:sequence>
      </s:complexType>
      <s:element name="creaMercatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creaMercatoResult" type="tns:Mercato" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="creaMercatoSoapIn">
    <wsdl:part name="parameters" element="tns:creaMercato" />
  </wsdl:message>
  <wsdl:message name="creaMercatoSoapOut">
    <wsdl:part name="parameters" element="tns:creaMercatoResponse" />
  </wsdl:message>
  <wsdl:portType name="GestioneAdminControllerSoap">
    <wsdl:operation name="creaMercato">
      <wsdl:input message="tns:creaMercatoSoapIn" />
      <wsdl:output message="tns:creaMercatoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestioneAdminControllerSoap" type="tns:GestioneAdminControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creaMercato">
      <soap:operation soapAction="http://tempuri.org/creaMercato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestioneAdminControllerSoap12" type="tns:GestioneAdminControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creaMercato">
      <soap12:operation soapAction="http://tempuri.org/creaMercato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestioneAdminController">
    <wsdl:port name="GestioneAdminControllerSoap" binding="tns:GestioneAdminControllerSoap">
      <soap:address location="http://localhost:54424/Controller/GestioneAdminController.asmx" />
    </wsdl:port>
    <wsdl:port name="GestioneAdminControllerSoap12" binding="tns:GestioneAdminControllerSoap12">
      <soap12:address location="http://localhost:54424/Controller/GestioneAdminController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>