MyFantalega/Client/Connected Services/ServerLogin/LoginController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerificaCredenziali">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCredenzialiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificaCredenzialiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificaCredenzialiSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCredenziali" />
  </wsdl:message>
  <wsdl:message name="VerificaCredenzialiSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCredenzialiResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginControllerSoap">
    <wsdl:operation name="VerificaCredenziali">
      <wsdl:input message="tns:VerificaCredenzialiSoapIn" />
      <wsdl:output message="tns:VerificaCredenzialiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginControllerSoap" type="tns:LoginControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaCredenziali">
      <soap:operation soapAction="http://tempuri.org/VerificaCredenziali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginControllerSoap12" type="tns:LoginControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaCredenziali">
      <soap12:operation soapAction="http://tempuri.org/VerificaCredenziali" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginController">
    <wsdl:port name="LoginControllerSoap" binding="tns:LoginControllerSoap">
      <soap:address location="http://localhost:50313/Controller/LoginController.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginControllerSoap12" binding="tns:LoginControllerSoap12">
      <soap12:address location="http://localhost:50313/Controller/LoginController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>