MyFantalega/Client/Connected Services/ServerLogin1/RegistrazioneController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registraUtente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domanda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="risposta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registraUtenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registraUtenteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registraUtenteSoapIn">
    <wsdl:part name="parameters" element="tns:registraUtente" />
  </wsdl:message>
  <wsdl:message name="registraUtenteSoapOut">
    <wsdl:part name="parameters" element="tns:registraUtenteResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrazioneControllerSoap">
    <wsdl:operation name="registraUtente">
      <wsdl:input message="tns:registraUtenteSoapIn" />
      <wsdl:output message="tns:registraUtenteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrazioneControllerSoap" type="tns:RegistrazioneControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registraUtente">
      <soap:operation soapAction="http://tempuri.org/registraUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrazioneControllerSoap12" type="tns:RegistrazioneControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registraUtente">
      <soap12:operation soapAction="http://tempuri.org/registraUtente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrazioneController">
    <wsdl:port name="RegistrazioneControllerSoap" binding="tns:RegistrazioneControllerSoap">
      <soap:address location="http://localhost:50313/Controller/RegistrazioneController.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrazioneControllerSoap12" binding="tns:RegistrazioneControllerSoap12">
      <soap12:address location="http://localhost:50313/Controller/RegistrazioneController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>